<!DOCTYPE html>
<html lang="en">
  <%- include('fragmentos/head'); %>
  <body style="background: linear-gradient(90deg, rgb(14, 0, 3), rgb(51, 18, 10))">
    <%- include('fragmentos/navbar'); %>
    <div class="wcontainer">
      <p>cris es lloron</p>
    </div>
  </body>
</html>
