<!DOCTYPE html>
<html lang="en">
  <%- include('fragmentos/head'); %>
  <style>
    @media (min-width: 992px) {
      .alto-100 {
        height: 100vh;
      }
    }
  </style>
  <body
    style="background: linear-gradient(90deg, rgb(14, 0, 3), rgb(51, 18, 10))"
  >
    <!--
    <%- include('fragmentos/navbar'); %>
    -->
    <div class="wcontainer"></div>
    <main class="container d-flex align-items-center justify-content-center">
      <div class="row border rounded">
        <div class="col-12 col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 px-0 input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm"
                    >Nombre:</span
                  >
                  <div class="w-50">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Bistec"
                      aria-label="Nombre"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
                <div
                  class="
                    col-12 col-md-6 col-sm-6
                    px-0
                    input-group input-group-sm
                    mb-3
                  "
                >
                  <span class="input-group-text" id="inputGroup-sizing-sm"
                    >Precio:</span
                  >
                  <div class="w-25">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="0.00"
                      aria-label="Precio"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
                <div
                  class="
                    col-12 col-md-6 col-sm-6
                    px-0
                    input-group input-group-sm
                    mb-3
                  "
                >
                  <span class="input-group-text" id="inputGroup-sizing-sm"
                    >Calificación:</span
                  >
                  <div class="w-25">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="-"
                      aria-label="Calificacion"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
                <div class="col-12 px-0 input-group input-group-sm mb-3">
                  <span class="input-group-text w-100" id="inputGroup-sizing-sm"
                    ><div class="p-0" style="margin-right: 1rem">
                      Descripción:
                    </div>
                    <textarea
                      class="form-control border rounded w-100"
                      placeholder="Ingredientes"
                      aria-label="With textarea"
                    ></textarea>
                  </span>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-6">
                      <img
                        src="../assets/img/face.jpg"
                        class="img-thumbnail"
                        alt="imagen"
                      />
                    </div>
                    <div class="col-12 col-sm-6 col-md-6">
                      <button
                        type="button"
                        class="w-100 btn btn-outline-secondary"
                      >
                        Subir Imagen
                      </button>
                      <button
                        type="button"
                        class="w-100 btn btn-outline-secondary"
                      >
                        Eliminar Imagen
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-2">
                  <div class="row">
                    <div class="col-12 col-md-4 col-lg-4 mx-auto">
                      <button
                        type="button"
                        class="py-3 px-2 w-100 btn btn-outline-secondary"
                      >
                        <div class="mx-auto">Guardar</div>
                      </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mx-auto">
                      <button
                        type="button"
                        class="py-3 px-2 w-100 btn btn-outline-secondary"
                      >
                        <div class="mx-auto">Modificar</div>
                      </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mx-auto">
                      <button
                        type="button"
                        class="py-3 px-2 w-100 btn btn-outline-secondary"
                      >
                        <div class="mx-auto">Eliminar</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 px-0 input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm"
                    >Buscar:</span
                  >
                  <div class="w-50">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Nombre"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div class="col-12">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
