<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />
 <link href="./stylesheets/material-kit.css?v=2.2.0" rel="stylesheet" /> 
  </head>
  
<body >
    <%- include('fragmentos/navbar'); %>  <hr><br>
   <div class="container card mx-auto col-12 col-md-11 col-sm-3" style="background-image:url('/images/error.png '); background-repeat: no-repeat; background-size:300px ;" > 
       <h1> <%= message %> -  Algo ha salido mal </h1> 
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre> </div>
</body>
</html>