<!DOCTYPE html>
<html>
  <%- include('fragmentos/head'); %> 
  <body>
    <%- include('fragmentos/navbar'); %> 
   <br>
    <div class="card mx-auto col-md-9" style="margin-top: 30px;">
      <h1><%= title %></h1>
      <p>Hola bros xD :P<%= title %></p>
    </div>
  </body>
</html>
