<!DOCTYPE html>
<html style="font-size: 16px;">
  
    <%- include('fragmentos/head'); %> 
  <body    class=" bg-dark"> <%- include('fragmentos/navbar'); %>
 <div>
      <section class=" u-align-center u-clearfix u-grey-10 u-section-1 bg-dark" id="carousel_4daf" >
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1 " style="margin-top: 100px;">
        <h1 class=" u-text-palette-3-base u-text-1" >Menu</h1>
        <p class="u-text u-text-2">Unique wood fired pizzas or be tempted by our pasta, antipasto, focaccias, salads and Bruschetta dishes. Relax in the friendly ambience as you enjoy the aromas of the wood ovens or sit al fresco and soak up the Mildura sunshine.</p>
        <div class=" u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="card u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-1" src="images/3981417.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                    <h3 class="u-custom-font u-font-oswald u-text u-text-3">Original</h3>
                    <p class="u-text u-text-4">Tomato sauce, mozzarella &amp; oregano</p>
                    <h6 class="u-text u-text-palette-3-base u-text-5">$18.00</h6>
                    <a href="https://nicepage.com/c/nature-html-templates" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-1">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-3">
                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-2" src="images/ground-classic-italian-pizza-with-tomatoes-pepper-vegetables-sauce-mozarella-cheese-dark-kitchen-table-copy-space_90380-947.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-2">
                  <div class="u-container-layout u-valign-middle-xl u-valign-middle-xs u-container-layout-4">
                    <h3 class="u-custom-font u-font-oswald u-text u-text-6">Salami</h3>
                    <p class="u-text u-text-7">Tomato sauce, mozzarella &amp; mild salami</p>
                    <h6 class="u-text u-text-palette-3-base u-text-8">$15.00</h6>
                    <a href="https://nicepage.com/" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-2">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-1" src="images/3981417.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                    <h3 class="u-custom-font u-font-oswald u-text u-text-3">Original</h3>
                    <p class="u-text u-text-4">Tomato sauce, mozzarella &amp; oregano</p>
                    <h6 class="u-text u-text-palette-3-base u-text-5">$18.00</h6>
                    <a href="https://nicepage.com/c/nature-html-templates" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-1">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-3">
                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-2" src="images/ground-classic-italian-pizza-with-tomatoes-pepper-vegetables-sauce-mozarella-cheese-dark-kitchen-table-copy-space_90380-947.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-2">
                  <div class="u-container-layout u-valign-middle-xl u-valign-middle-xs u-container-layout-4">
                    <h3 class="u-custom-font u-font-oswald u-text u-text-6">Salami</h3>
                    <p class="u-text u-text-7">Tomato sauce, mozzarella &amp; mild salami</p>
                    <h6 class="u-text u-text-palette-3-base u-text-8">$15.00</h6>
                    <a href="https://nicepage.com/" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-2">add to cart</a>
                  </div>
                </div>
              </div>
            </div><div class="card u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-1" src="images/3981417.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                    <h3 class="u-custom-font u-font-oswald u-text u-text-3">Original</h3>
                    <p class="u-text u-text-4">Tomato sauce, mozzarella &amp; oregano</p>
                    <h6 class="u-text u-text-palette-3-base u-text-5">$18.00</h6>
                    <a href="https://nicepage.com/c/nature-html-templates" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-1">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-3">
                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-2" src="images/ground-classic-italian-pizza-with-tomatoes-pepper-vegetables-sauce-mozarella-cheese-dark-kitchen-table-copy-space_90380-947.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-2">
                  <div class="u-container-layout u-valign-middle-xl u-valign-middle-xs u-container-layout-4">
                    <h3 class="u-custom-font u-font-oswald u-text u-text-6">Salami</h3>
                    <p class="u-text u-text-7">Tomato sauce, mozzarella &amp; mild salami</p>
                    <h6 class="u-text u-text-palette-3-base u-text-8">$15.00</h6>
                    <a href="https://nicepage.com/" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-2">add to cart</a>
                  </div>
                </div>
              </div>
            </div><div class="card u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-1" src="images/3981417.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                    <h3 class="u-custom-font u-font-oswald u-text u-text-3">Original</h3>
                    <p class="u-text u-text-4">Tomato sauce, mozzarella &amp; oregano</p>
                    <h6 class="u-text u-text-palette-3-base u-text-5">$18.00</h6>
                    <a href="https://nicepage.com/c/nature-html-templates" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-1">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-3">
                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-2" src="images/ground-classic-italian-pizza-with-tomatoes-pepper-vegetables-sauce-mozarella-cheese-dark-kitchen-table-copy-space_90380-947.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-2">
                  <div class="u-container-layout u-valign-middle-xl u-valign-middle-xs u-container-layout-4">
                    <h3 class="u-custom-font u-font-oswald u-text u-text-6">Salami</h3>
                    <p class="u-text u-text-7">Tomato sauce, mozzarella &amp; mild salami</p>
                    <h6 class="u-text u-text-palette-3-base u-text-8">$15.00</h6>
                    <a href="https://nicepage.com/" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-2">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-5">
                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-3" src="images/mixed-pizza-with-olive-bell-pepper-tomato_140725-183.jpg">
                <div class="u-container-style u-expanded-width-xs u-group u-video-cover u-group-3">
                  <div class="u-container-layout u-valign-middle-xl u-valign-middle-xs u-container-layout-6">
                    <h3 class="u-custom-font u-font-oswald u-text u-text-9">Chicken</h3>
                    <p class="u-text u-text-10">Tomato sauce, mozzarella, chicken, pineapple* &amp; bbq sauce</p>
                    <h6 class="u-text u-text-palette-3-base u-text-11">$25.00</h6>
                    <a href="https://nicepage.com/c/grid-website-templates" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-3">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-7">
                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-4" src="images/sdw.jpg">
                <div class="u-container-style u-expanded-width-xs u-group u-video-cover u-group-4">
                  <div class="u-container-layout u-valign-middle-xl u-valign-middle-xs u-container-layout-8">
                    <h3 class="u-custom-font u-font-oswald u-text u-text-12">Hawaiian</h3>
                    <p class="u-text u-text-13">Tomato sauce, mozzarella, ham &amp; pineapple</p>
                    <h6 class="u-text u-text-palette-3-base u-text-14">$16.00</h6>
                    <a href="https://nicepage.com/k/astrology-website-templates" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-4">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="u-text u-text-15">Images from <a href="https://www.freepik.com/free-photos-vectors/background" target="_blank"><b>Freepik</b>
          </a>
        </p>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-shading u-section-2" src="" data-image-width="256" data-image-height="256" id="sec-80a5">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-title u-text-1">INTUITIVE</h1>
        <p class="u-large-text u-text u-text-variant u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
        <a href="#" class="u-btn u-button-style u-palette-2-base u-btn-1">Read More</a>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-ce31">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="400" data-image-height="265">
                <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-1">Titular de muestra</h2>
                  <p class="u-text u-text-default u-text-2">Texto de ejemplo. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
 </div>
    
    <footer class="footer footer-default">
      <div class="container">
        <nav class="float-left">
          <ul> 
            <li>
              <a href="/">
                Ir a la página principal
              </a>
            </li>
            <li>
              <a href="#">
                Registrarse
              </a>
            </li>
            <li>
              <a href="#">
                Licencia
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          ©
          <script>
            document.write(new Date().getFullYear())
          </script>, made with <i class="fa fa-heart heart"></i> by UNL students.
        </div>
      </div>
    </footer>
  </body>
</html>