<!DOCTYPE html>
<html>
<%- include('fragmentos/head'); %>

  <body style="background: linear-gradient(90deg, rgb(14, 0, 3), rgb(51, 18, 10));">
    <%- include('fragmentos/navbar'); %>
      <div class="container" style="margin-top: 200px;">
        <div class="row">
          <div class="col-lg-7 col-md-11 ml-auto mr-auto">
            <div class="card card-login">
              <form class="form" method="" action="">
                <div class="card-header card-header-warning text-center">
                  <h4 class="card-title">Registrarse</h4>
                </div>
                <div class="card-body px-0" style="margin-top: 30px;">
                  <div class="row d-flex mx-2">
                    <div class="col-12 col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-user-o"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nombres">
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-user"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Apellidos">
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-id-card"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Cédula">
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-address-card"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Dirección">
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-envelope-o"></i>
                          </span>
                        </div>
                        <input type="Email" class="form-control" placeholder="Correo Electrónico">
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-mobile"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Teléfono">
                      </div>
                    </div>
                  </div>
                  <div class="m-4" style="height: 90px;">
                    <div class="footer text-center p-3">
                      <a href="#pablo" class="btn btn-success btn-link btn-wd btn-lg">Registrarse</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          </form>
        </div>
      </div>
      </div>
      </div>
      <footer class="footer footer-default text-white">
        <div class="container">
          <nav class="float-left">
            <ul>
              <li>
                <a href="/menu">
                  Ir al Menú
                </a>
              </li>
              <li>
                <a href="#">
                  Registrarse
                </a>
              </li>
              <li>
                <a href="#">
                 LICENCIA

                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="fa fa-heart heart"></i> by UNL students.
          </div>
        </div>
      </footer>
  </body>

</html>