<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="./stylesheets/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
</head> 
<body  style="background: linear-gradient(90deg, rgb(10, 4, 4), rgb(78, 46, 38));">
  <div>
    <div class="container mx-auto"style="margin-left: 12%;" > 
        <div class="container card text-center" style="background-color: blanchedalmond ;position: absolute; text-align: center; margin-top: 10%;">
          <div class="container">
            <h3 class="text-success">Compra Exitosa!</h3><br>
          <h4>Estamos procesando tu compra, Recibiras una llamada cuando estemos a la puerta de tu casa!</h3><br>
            <h5 class="text-primary">Gracias por confiar en nosotros! </h5>
            <div class="container mx-auto " style=" text-align: center;">
              <a class="btn btn-secondary btn-sm" href="/profile">Regresar al Perfil </a>
              <a class="btn btn-primary btn-sm" href="/menu"> Regresar al Menú </a>
            </div>
          </div>
        </div> 
      <br>
    </div>
  </div> 
</body> 
</html>