<!DOCTYPE html>
<html style="font-size: 16px;">

<%- include('fragmentos/head'); %>

  <body class=" bg-dark text-white" style="background: linear-gradient(90deg, rgb(14, 0, 3), rgb(51, 18, 10));">
    <%- include('fragmentos/navbar'); %>
      <div style="background-image: url('../assets/img/fondo.jpg')">
        <div class="container">
          <section class="page-header" id="carousel_4daf"
             >
<div class="card text-center" style=" position: absolute;" >
  <h3 class="text-success">Compra Exitosa!</h3><br><h4>Estamos procesando tu compra, Recibiras una llamada cuando estemos a la puerta de tu casa!</h3><br>
  <h5 class="text-primary">Gracias por confiar en nosotros! </h5>
  <div class="row mx-auto "><a class="btn btn-black btn-sm" href="/profile">Regresar al Perfil </a><a class="btn btn-black btn-sm" href="/menu"> Regresar al Menú</a></div>
</div>
          </section>
          <br>

        </div>
      </div>
 
  </body>

</html>