<!DOCTYPE html>
<html style="font-size: 16px;">

<%- include('fragmentos/head'); %>

  <body class=" bg-dark text-white" style="background: linear-gradient(90deg, rgb(14, 0, 3), rgb(51, 18, 10));">
    <%- include('fragmentos/navbar'); %>
      <div style="background-image: url('../assets/img/fondo.jpg')">
        <div class="container">
          <section class=" page-header mx-auto" id="carousel_4daf">
              
            <div class="card mx-auto col-md-9" style="text-align: center;">
                <h4>
                    Pagar por un total de: $<%=total%></h4>
                <div class="comtainer text-center mx-auto"><form action = "https://restaurantss.onrender.com/success/" class = "paymentWidgets mx-auto"  data-brands = "AMEX MASTER UNIONPAY VISA"> </form>
                </div>
             <!-- ACI Payment Integration Copy And Pay -->
             <script src="https://eu-test.oppwa.com/v1/paymentWidgets.js?checkoutId=<%=checkoutId%>"></script>
             <!-- ACI Payment Integration Copy And Pay -->
            </div>
            
          </section>
          <br>

        </div>
      </div>
 
  </body>

</html>