
	<form action = "/carrito/" class = "paymentWidgets" data-brands = "AMEX MASTER UNIONPAY VISA"> </form>

    
    <!-- ACI Payment Integration Copy And Pay -->
    <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=40E39488E07B8DB192EC1DF16A7C70F7.uat01-vm-tx03"></script>
    <!-- ACI Payment Integration Copy And Pay -->